:root {
    --black-color: #595a16
    ;

    --bg-color: #ffffff;
    --bg-color-2:  #0d5f117a;
    ;
    --bg-color-3: #ffffff7a;

    --main-color: #fabb48;
    --main-color-2: #fabb48;

    --text-color: #a9afc3;
    --text-muted: #35900A;

    --track-color: #202324;
    --thumb-color: #454a4d;
    --thumb-hover-color: #596268;

    --fb-color: #3b5998;
    --google-color: #a61c00;
    --twitter-color: #1da1f2;

    --text-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.8);
}

// BLOOMHUB- #287011
// TAGLINE- #35900A
// LEAF- #46C632